#ad {
	width: 600px;
	height: 300px;
	background-color: green;
	margin: auto;
	margin-left: 353px;
	box-shadow: 3px 3px 5px #888;
	background-image: url("../Images/field.png");
	background-size: 600px 300px;
	opacity: 0.8
}

#teamLeft {
	position: absolute;
	transform: rotate(-90deg);
	margin-top: 219px;
	margin-left: -34px;
	color: white;
	font-family: Verdana;
}

#teamRight {
	position: absolute;
	transform: rotate(90deg);
	margin-top: 50px;
	margin-left: 522px;
	color: white;
	font-family: Verdana;
}

#saluki {
	position: absolute;
	width: 200px;
	top: 105px;
	padding-left: 200px;
	z-index: -1;
	opacity: .5;
}

#logo {
	position: absolute;
	width: 220px;
	top: 215px;
	padding-left: 20px;
	animation: logo 5s infinite;
}

@keyframes logo{
10%{padding-left:15px;}
25%{transform: rotate(10deg); padding-left:405px;}
50%{top:45px; padding-left: 360px;}
75%{transform: rotate(0deg); padding-left:0px;}
100%{top:215px; padding-left:20px;}
}

#football {
	position: absolute;
	width: 40px;
	top: 145px;
	padding-left: 10px;
	animation: football 5s infinite;
}

@keyframes football{
10%{width:40px; padding-left: 10px;}
50%{width:125px; padding-left: 240px;}
100%{width:40px; padding-left:550px;}
}

#touchdown {
	text-align: center;
	line-height: 300px;
	font-size: 1px;
	font-family: Arial;
	font-weight: bold;
	text-shadow: 3px 3px 5px #888;
	animation: touchdown 5s infinite;
}

@keyframes touchdown{
0%{display:none; font-size:1px;}
60%{display:none; font-size:1px;}
80%{color:white;}
85%{color:green;}
90%{color:blue;}
95%{color:pink;}
100%{font-size:70px; color:yellow;}
}

#sportAd {
	margin: 0px;
	width: 300px;
	height: 550px;
}

#sportAd {
	width: 300px;
	height: 550px;
	background-color: green;
	margin-top: -300px;
	margin-left: 45px;
	box-shadow: 3px 3px 5px #888;
	background-image: url("../Images/housing.jpg");
	background-size: 300px 550px;
	opacity: 0.8;
}

#housing {
	position: absolute;
	color: maroon;
	font-family: Verdana;
	margin: auto;
	font-size: 50px;
	font-family: "Curlz MTd";
	font-weight: bold;
	animation: housing 5s infinite;
}

@keyframes housing{
0%{color:yellow; font-family:"Franklin Gothic Medium";}
25%{color:#CCAABB;}
50%{color:#AB2533; font-family:"Agency FB";}
75%{color:#BAD;}
100%{color:yellow; font-family:"Franklin Gothic Medium";}
}

#houses {
	color: red;
	position: absolute;
	font-family: Verdana;
	margin: 0px;
	margin-top: -480px;
	font-size: 30px;
	margin-left: 70px;
	font-family: "Curlz MTd";
	font-weight: bold;
	animation: houses 5s infinite;
}

@keyframes houses{
0%{color:red;}
20%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}

#TPic, #Towerspic, #WaGrPic {
	width: 90px;
	height: 80px;
	margin-top: -200px;
	margin-left: 60px;
	position: absolute;
}

#TPic {
	animation: Tp 5s infinite;
}

#Towerspic {
	animation: towers 5s infinite;
}

#WaGrPic {
	animation: WaGr 5s infinite;
}

@keyframes Tp{
0%{height:80px; width:90px;}
10%{height:80px; width:90px;}
50%{height: 150px; width:100px;}
70%{height:80px; width:90px; }
100%{height:80px; width:90px;}

}

@keyframes towers{
0%{padding-left:190px; height:80px; width:90px; }
10%{padding-left:190px; height:80px; width:90px; }
45%{padding-left:180px;}
50%{padding-left:180px; height: 150px; width:100px;}
70%{padding-left:190px; height:80px; width:90px;}
95%{padding-left:190px;}
100%{padding-left:190px; height:80px; width:90px;}
}

@keyframes WaGr{
0%{padding-left: 100px; padding-top:100px; height:80px; width:80px;}
10%{padding-left: 100px; padding-top:100px; height:80px; width:80px;}
48%{padding-left: 100px; padding-top:100px; height:80px; width:80px;}
70%{padding-left: 90px; padding-top:50px;}
75%{padding-left: 90px; padding-top:50px; height:150px; width:100px;}
97%{padding-left: 100px; padding-top:100px; height:80px; width:80px;}
100%{padding-left: 100px; padding-top:100px; height:80px; width:80px;}
}

#bigArea{
	margin:auto;
	height:570px;
	width:930px;
}
