#div1, #div2{
	width:350px;
	height:250px;
	padding: 10px;
	border: 1px solid #aaaaaa;
	float:left;
}

#drag1{
	background-color: yellow;
	width: 200px;
	height:69px;
	margin:5px;
	float:left;
}

#drag2{
	background-color: red;
	width: 200px;
	height:69px;
	margin:5px;
	float:left;
}

#drag3{
	background-color: green;
	width: 200px;
	height:69px;
	margin:5px;
	float:left;
}
