<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title></title><!-- name of tab -->
		<link type="text/css" href="Css/Layout.css"	rel="stylesheet" />
	</head>
	<!-- code above is important and needed in every code -->
	<body>

		<div id="wrapper">
			<div id="header">
				<h1>My New Spoopy Webpage</h1>
			</div>
			
			
			<div id="leftSect">
				Left Section
				<div id="menu">
					Left Top Section
				</div>
				<div id="link">
					Left Bottom Section
				</div>
			</div>
			
			
			<div id="content">
				Content Section
			</div>
			

			<div id="footer">
				Footer
			</div>
			
			
		</div>
<img src="" />
	</body>
	<!-- Everything within the body is what will show -->
</html><!-- End of code -->